<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erreur 404</title>
</head>
<body>
    <hgroup>
        <h1>Oops...</h1>
        <h2>La page que vous demandez n'a pas été trouvée.</h2>
        @*<a href="#">Retourner sur la page d'accueil</a>*@
    </hgroup>
</body>
</html>
