@model Intranet.Areas.Elements_Generaux.Models.Categories.Categorie

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Supprimer une catégorie</title>
</head>
<body>
    <h3>Etes-vous certain(e) de vouloir supprimer cette catégorie ?</h3>
    <div>
        <h4>Categorie</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Libelle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Libelle)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Revenir sur la liste des catégories", "Index")
            </div>
        }
    </div>
</body>
</html>
