@model Intranet.Areas.Composants.Models.Elements.Element

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Voir le détail d'un élément</title>
</head>
<body>
    <div>
        <h4>Element</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Etat)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Etat)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Modifier", "Modifier", new { id = Model.Id }) |
        @Html.ActionLink("Retourner vers la liste des éléments", "Index")
    </p>
</body>
</html>
